{{ form_start(form,{"attr":{"id":"formdata"}}) }}
    <div class="">
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-primary" style="float: right;margin-top: 15px" id="{{ button_id }}">{{ button_text }}</button>
            <button style="margin-top: 15px" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

{{ form_end(form) }}